[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "GCCfactor"]
	path = GCCfactor
	url = https://github.com/cran/GCCfactor
[submodule "L2hdchange"]
	path = L2hdchange
	url = https://github.com/cran/L2hdchange
